@import url('https://fonts.cdnfonts.com/css/nunito-sans');

* {
  font-family: 'Nunito Sans', sans-serif;
}

.rdt_TableHeadRow {
  background-color: #4ade8080 !important;
  font-weight: 800;
  font-size: 1.15em;
  color: #14532d;
  text-transform: uppercase;
}

.rdt_TableRow {
  background-color: rgb(241, 241, 241) !important;
}

.rdt_TableCell {
  font-weight: 700;
  text-transform: uppercase;
  color: #14532d;
}

.rdt_TableRow:hover {
  background-color: rgb(216, 240, 225) !important;
}

.rdt_TableRow:hover>.rdt_TableCell {
  font-weight: 800;

}

[type='checkbox'],
[type='radio'] {


  color: #18632a !important;
}

input[type='checkbox']:focus {
  box-shadow: rgba(14, 148, 81, 0.87) 0px 1px 4px, rgba(93, 182, 66, 0.788) 0px 0px 0px 3px;
}
.rdt_Pagination{
  background-color: #4ade804d !important;
  font-weight: 700;

}