
@import url('https://fonts.cdnfonts.com/css/al-mito-group-sans');


* {
  margin: 0;
  font-family: 'AL Mito Group', sans-serif;                                              
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
